.shopping-cart {
  font-family: "caviar_dreamsregular";
  width: 850px;
  height: auto;
  margin: 20px auto;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.cart-card {
  padding: 30px 10px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.delete {
  margin-right: 60px;
  display: flex;
  padding: 0.4em 0.4em;
}

.cart-img {
  margin-right: 50px;
  width: 120px;
  height: 120px;
}

.description {
  padding-top: 30px;
  margin-right: 60px;
  width: 115px;
}

.cart-name {
  font-family: "allerbold";
  font-size: 1.5vw;
  color: #61b390;
  text-align: center;
  margin-bottom: 5px;
}

.cart-price-orignal {
  font-size: 1vw;
  text-align: center;
  margin-top: 8px;
  color: #01352c;
}

.quantity {
  margin-right: 60px;
  display: flex;
  align-items: center;
}

.qty-btn {
  width: 30px;
  height: 30px;
  justify-content: center;
  font-size: 1.2vw;
  padding: unset;
}

.prod-quantity {
  appearance: none;
  border: none;
  text-align: center;
  font-size: 1.2vw;
  color: #01352c;
  margin-right: 5px;
}

.cart-price {
  width: auto;
  justify-content: center;
  font-size: 1.1vw;
  color: #01352c;
}

.cart-summary {
  font-size: 1.2vw;
  font-family: "allerbold";
  color: #61b390;
  padding: 50px 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 1px solid #e1e8ee;
  gap: 3px;
}

.cart-summary-heading {
  text-decoration: underline;
  margin-bottom: 5px;
}

.cart-summary-price {
  margin-bottom: 5px;
}

.cashout {
  text-align: center;
  font-size: 1.2vw;
  
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .cart-card {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cart-img {
    width: 50%;
  }
  .cart-img,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  button {
    margin-right: 20px;
  }
}
