.grid .container {
  position: relative;
}

.grid .photobutton {
  color: #01352c;
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #01352c;
  padding: 10px;
  border-radius: 30px;
  background-color: transparent;
}

.grid .photobutton:hover {
  box-shadow: 0 0 5px #0a5b13;
  text-shadow: 0 0 5px;
}

.grid img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.text1 {
  text-align: center;
  font-size: 1.8vw;
  font-style: italic;
  font-weight: 200;
}
.text2 {
  text-decoration: underline;
  font-size: 2vw;
  padding-left: 0.3cm;
  text-align: left;
}

.client {
  position: relative;
  width: 5cm;
  height: 5cm;
  margin-left: 25px;
  margin-bottom: 50px;
  border-style: double;
  border-width: 0.3cm;
  border-color: #01352c;
}
