/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
/* 
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

h1 {
  color: #61b390;
  font-family: "allerbold";
  font-size: 3vw;
  text-align: center;
}
h2 {
  color: #61b390;
  font-family: "allerbold";
  font-size: 2vw;
}
nav {
  background-color: #01352c;
  padding: 0.5em;
  position: sticky;
  top: 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav a {
  font-family: "caviar_dreamsregular";
  color: #e1eacd;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1.5vw;
}
a:hover {
  color: #01352c;
  background: #e1eacd;
}
p {
  color: #0c302a;
  font-family: "caviar_dreamsregular";
}
.text1 {
  text-align: center;
  font-size: 1.5vw;
}
.text2 {
  font-size: 1vw;
}

img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

div {
  color: #bad8b6;
  font-family: "caviar_dreamsregular";
  font-size: 1.5vw;
  text-align: center;
}

/* .container {
  position: relative;
} */

.phototext {
  color: #01352c;
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #01352c;
  padding: 10px;
  border-radius: 30px;
}
