.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
}
.form-group {
  color: #0c302a;
  font-family: "caviar_dreamsregular";
  font-size: 1.5vw;
  text-align: center;
}
.form-control {
  border-radius: 5px;
  padding: 3px;
}

.btn-success {
  color: #0c302a;
  font-family: "caviar_dreamsregular";
  padding: 0.5em 2em;
  font-size: 1vw;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .mybtn {
    width: 50%;
  }
}
